<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-content>
      <div class="container">
        <div class="file-control-wrapper">
          <mat-form-field appearance="legacy">
            <ngx-mat-file-input [formControl]="formControls.fileControl" [multiple]="false" accept="image/*"
                                color="accent">
              <mat-icon ngxMatFileInputIcon>folder</mat-icon>
            </ngx-mat-file-input>
            <mat-error *ngIf="formControls.fileControl.invalid">Image is <i>required</i></mat-error>
          </mat-form-field>
          <app-img-preview [imageFile]="formControls.fileControl.valueChanges | async"></app-img-preview>
          <button type="button"
                  [disabled]="!(formControls.fileControl.valueChanges | async)"
                  (click)="openDialog()"
                  mat-raised-button>Crop
          </button>
        </div>
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Click Url</mat-label>
          <input matInput type="text" placeholder="https://www.google.com" [formControl]="formControls.url" min="10">
          <mat-error *ngIf="formControls.fileControl.invalid">Valid url is <i>required</i></mat-error>
        </mat-form-field>
        <div>
          <mat-label>Slide animation</mat-label>
          <br>
          <mat-radio-group [formControl]="formControls.fromLeft">
            <mat-radio-button [value]="true">From left to right</mat-radio-button>
            <br>
            <mat-radio-button [value]="false">From right to left</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="submit" mat-raised-button>Submit & Preview</button>
    </mat-card-actions>
  </mat-card>
</form>

